<template>
    <div id="game">
        <p>Share: <small><a :href="link">{{ link }}</a></small></p>
        <h3>{{ guessesRemaining }} guesses remaining</h3>
        <button type="button" v-on:click="undo">Undo</button>
        <p v-show="guessesRemaining==0||is_winner">{{ msg }}</p>
        <p class="error-text" v-show="error.length>0">{{ error }}</p>
        <p class="letter-spacing">{{ this.game_state }}</p>
        <div id="letters">
            <span v-on:click="add_guess($event)" v-for="letter in remaining_letters">{{ letter }}</span>
        </div>
        <div id="word-guess-div" v-show="has_word_guess">
            <input type='text' id='word-guess' name='word-guess' placeholder='Guess the whole word' /><button type="button" v-on:click="word_guess($event)">Guess</button><small>(Only one guess one per word.)</small>
        </div>
        <br />
        <button type="button" v-show="guessesRemaining==0||is_winner" v-on:click="new_word">Start New Game</button>
    </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import game_api from '../game_api';

export default {
  name: 'game',
  props: {
    id: String
  },
  data () {
    return {
        error: '',
    }
  },
  methods: {
    add_guess: function(event) {
        let value = event.currentTarget.innerText;
        let id = this.id;
        this.$store.dispatch('game/add_guess', { id: id, value: value });
    },
    undo: function() {
        let id = this.id;
        this.$store.dispatch('game/undo', id);
    },
    new_word: function() {
        let id = this.id;
        this.$store.dispatch('game/new_word', id)
        .catch((error) => {
            this.error = error.data.error;
        });
    },
    word_guess: function(event) {
        let value = document.getElementById('word-guess').value;
        let id = this.id;
        this.$store.dispatch('game/add_guess', { id: id, value: value });
    },
  },
  computed: {
    ...mapState('game', [
        'game_state',
        'current_guesses',
    ]),
    ...mapGetters('game', [
        'guessesRemaining',
    ]),
    is_winner: function() {
        return this.game_state.indexOf('_') === -1;
    },
    msg: function() {
        if (this.is_winner) {
            return 'You win! Click new game to start a new word.';
        } else {
            return 'You lose. Click new game to start a new word.';
        }
    },
    remaining_letters: function() {
        let letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
        for (var i in this.current_guesses) {
            var l = this.current_guesses[i];
            var idx = letters.indexOf(l.toUpperCase());
            if (idx >= 0) {
                letters.splice(idx,1);
            }
        }
        return letters.join('');
    },
    has_word_guess: function() {
        for (var i in this.current_guesses) {
            if (this.current_guesses[i].length > 1) {
                return false;
            }
        }
        return true;
    },
    link: function() { return window.location.origin + '/#/?id=' + this.id; },
  },
}
</script>

<style>
.letter-spacing {
    letter-spacing: 1em;
}

#letters {
    letter-spacing: 1em;
}

#letters > span {
    cursor: pointer;
}

#letters > span:hover {
    color: green;
}

.error-text {
    color: red;
}

</style>
