<template>
  <div id="app">
    <h1>Hangman</h1>
    <game :id="this.game_id" />
  </div>
</template>

<script>
import Game from './components/Game.vue'
import { mapState } from 'vuex';

export default {
  name: 'app',
  components: {
    Game,
  },
  data () {
    return {
      msg: "test"
    }
  },
  computed: {
    ...mapState('game', [
        'game_id',
    ]),
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
